@{
    ViewData["Title"] = "About";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <h2 class="text-primary">Our Mission</h2>
        <p>
            At Pharm Store, our mission is to be a beacon of health and wellness, providing accessible and compassionate pharmaceutical care to enhance the lives of our community. We are committed to fostering a healthier society by delivering quality medications, expert guidance, and unwavering support.
        </p>
    </div>

    <div class="col-md-6 mx-auto">
        <h2 class="text-success">What We Offer</h2>
        <p>
            At Pharm Store, we believe in empowering you to take charge of your health journey. Beyond being your neighborhood pharmacy, we are your partners in wellness, offering personalized care and support every step of the way.Your Health, Our Priority - Experience the Pharm Store Difference Today!
        </p>
    </div>
</div>

<br />
<div class='holder'>
    <h3>We currently carry a selection of renowned brands, including</h3>
    <div class="representations">
        <div class="imgBox"><img src="/images/revox-logo.png" alt="Vichy" /></div>
        <div class="imgBox"><img src="/images/thepurestt.png" alt="Revox" /></div>
        <div class="imgBox"><img src="/images/revox-logo.png" alt="Vichy" /></div>
        <div class="imgBox"><img src="/images/cerave.png" alt="Vitabiotics" /></div>
        <div class="imgBox"><img src="/images/revox-logo.png" alt="Vichy" /></div>
    </div>
    <br />

    <br />

    <h5 class="wlcadmin">“ Quotes to keep in mind .”</h5>
    <div class="medicament-holder">
        <figure>
            <blockquote class="blockquote">
                <p class="mb-0">Health is a state of complete physical, mental and social well-being and not merely the absence of disease or infirmity.</p>

            </blockquote>
            <figcaption class="blockquote-footer">
                Dr.Pharm John Doe
            </figcaption>
        </figure>
        <figure>
            <blockquote class="blockquote">
                <p class="mb-0">Wellness encompasses a healthy body, a sound mind, and a tranquil spirit. Enjoy the journey as you strive for wellness.</p>

            </blockquote>
            <figcaption class="blockquote-footer">
                Dr.Pharm Alexa Doe
            </figcaption>
        </figure>
    </div>

    <br />

    <br />
