@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="mainContent">
        <div class="mainImage">
            <img src="~/images/aboutusimgg.jpg" />
        </div>

        <div class="mainText">
            <h3>We are committed to providing high-quality medications and excellent customer service.</h3>
            <p></p>
            <a asp-action="Products" class="btn btn-primary">View Products</a>
        </div>
    </div>

    


</body>